a {
    text-decoration: none;
  }
  
  #sidebar {
    background: #1aabee;
    height: 100vh;
    transition: 0.4s all linear;
    position: fixed;
  }
  #sidebar.active {
    width: 230px;
  }

  #sidebar.hidden {
    margin-left: -200px;
  }
  
  
  .logo {
    text-align: center;
    border-bottom: 1px solid #bbaaaab0;
    padding: 1.5rem 0;
  }
  .logo a {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  .nav a {
    font-size: 1.2rem;
    padding: 1.3rem 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s all ease;
  }
  
  .nav a:hover, a.link-active {
    background: #1d92dbc5;
    border-left: 5px solid #d4e6f1;
    font-weight: 700;
  }
  .nav a {
    color: #ffffff;
  }
  
  .toggle-btn {
    cursor: pointer;
    padding: 1rem 0.8rem;
  }
  
  .toggle-btn span {
    display: block;
    background: #ffffff;
    height: 4px;
    width: 30px;
    margin: 0.3rem 0;
    border-radius: 8px;
  }
  
  
  .App {
    padding: 1rem 0.8rem;
    margin-top: 5rem;
  }
  .content {
    margin-left: 200px;
    transition: 0.4s all linear;
  }
  .content.active {
    margin-left: 0;
  }
  
  .brand {
    display: flex;
    position: fixed;
    align-items: center;
    background: #34495e;
    width: 100%;
    padding: 5px;
    z-index: 100;
  }